<div>
  <link rel="stylesheet" href="../../public/css/main.css" />

  <div class="container mt-5">
    {{#if error}}
    <div id="error" class="alert alert-danger" role="alert">
      <p class="col-sm-12" id="error-p">{{error}}</p>
    </div>
    {{/if}}

<div id="popular-products-div">
  <h1 class="mb-4">Popular Products</h1>
  {{#if popularProducts}}
  {{#if popularProducts.laptops}}
  <h2 class="mb-4">Top 5 in Laptops</h2>
  <div class="row">
    {{#each popularProducts.laptops}}
    <div class="col-2 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{pictures.[0]}}" alt="{{name}}" style="height: 150px; object-fit: cover;" />
        <div class="card-body d-flex flex-column">
          <h6 class="card-title">{{name}}</h6>
          <a href="/api/products/{{category}}/{{_id}}" class="btn btn-primary mt-auto">View</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{#if popularProducts.phones}}
  <h2 class="mb-4">Top 5 in Phones</h2>
  <div class="row">
       {{#each popularProducts.phones}}
    <div class="col-2 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{pictures.[0]}}" alt="{{name}}" style="height: 150px; object-fit: cover;" />
        <div class="card-body d-flex flex-column">
          <h6 class="card-title">{{name}}</h6>
          <a href="/api/products/{{category}}/{{_id}}" class="btn btn-primary mt-auto">View</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{#if popularProducts.tablets}}
  <h2 class="mb-4">Top 5 in Tablets</h2>
  <div class="row">
    {{#each popularProducts.tablets}}
    <div class="col-2 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{pictures.[0]}}" alt="{{name}}" style="height: 150px; object-fit: cover;" />
        <div class="card-body d-flex flex-column">
          <h6 class="card-title">{{name}}</h6>
          <a href="/api/products/{{category}}/{{_id}}" class="btn btn-primary mt-auto">View</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{/if}}
</div>



    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.03);">
        <p class="lead">
          We strive to make the process of choosing between devices as smooth as possible. That's why we offer a website
          that allows users to search for and compare devices based on specifications, cost, and ratings. With this
          tool, we hope to help users make informed decisions when choosing between two similar devices
        </p>
        <p>Copyright &copy; FALL 2022 CS546 B Group-33 </p>
      </div>
    </footer>
  </div>