<div class="signup-page">
  <div class="container text-center">
    <h3>User Registration</h3>
    <form id="registration-form" method="POST">

      <div class="form-group">
        <label for="firstName">First Name
          <input
            class="form-control"
            type="text"
            id="firstName"
            value="{{firstName}}"
            name="firstName"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name
          <input
            class="form-control"
            type="text"
            id="lastName"
            value="{{lastName}}"
            name="lastName"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="email">Email ID
          <input
            class="form-control"
            type="text"
            id="email"
            value="{{email}}"
            name="email"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="gender">Gender
          <select
            class="form-control"
            id="gender"
            value="{{gender}}"
            name="gender"
          >
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="transgender">Transgender</option>
            <option
              value="non-binary/non-conforming"
            >Non-binary/Non-conforming</option>
            <option value="prefer not to respond">Prefer not to respond</option>
          </select>
        </label>
      </div>

      {{! <div class="form-group">
      <label for="usertype">UserType
        <select>
            <option value="user">User</option>
            <option value="expert">Expert</option>
        </select>
      </label>
    </div> }}

      <div class="form-group">
        <label for="username">Username
          <input
            class="form-control"
            class="form-control"
            type="text"
            id="username"
            value="{{username}}"
            name="username"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="password">Password
          <input
            class="form-control"
            class="form-control"
            type="password"
            id="password"
            value="{{password}}"
            name="password"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="passwordConfirm">Confirm Password
          <input
            class="form-control"
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
          />
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>

    <div id="errorDiv" class="error hidden">
      <ul id="errorlist">
      </ul>
    </div>

    <div>
      <a href="/users/login">Already have an account? Click here to log-in</a>
    </div>

    <script src="/public/js/registration.js"></script>
  </div>
</div>