<article class="product-list">
    <ul>
        {{#each manufactort_List}}
        <li>
            <form method="POST">
                <input type="submit" name="ManufacturerOfCategoryName" value="{{this}}" />
            </form>

        </li>
        {{/each}}
        {{#each product_List}}
        <li><a href="{{category}}/{{_id}}">{{_id}}</a>
            {{name}}
        </li>
        {{/each}}
    </ul>
</article>