<div class="product-list">
    {{#if error}}
    {{#each error}}
    <p>{{this}}</p>
    {{/each}}
    {{/if}}

    {{#if categoryList}}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Category List
        </button>
        <ul class="dropdown-menu">
            {{#each categoryList}}
            <li>
                <a class="dropdown-item" href="/api/products/{{this}}?page=1">{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#if manufactort_List}}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Manufactort List
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="?page=1">All Manufacturers</a>
            </li>
            {{#each manufactort_List}}
            <li>
                <a class="dropdown-item" href="?page=1&manufacturer={{this}}">{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#if productList.page}}
    <nav aria-label="...">
        <ul class="pagination">
            {{#if productList.page.previous}}
            {{#if productList.page.manufacturer}}
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">Previous</a>
            </li>
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">{{productList.page.previous}}</a>
            </li>
            {{else}}
            {{#if productList.page.search}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}&search={{productList.page.search}}{{productList.page.query_list}}">Previous</a>
            </li>
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}&search={{productList.page.search}}{{productList.page.query_list}}">{{productList.page.previous}}</a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">Previous</a>
            </li>
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">{{productList.page.previous}}</a>
            </li>
            {{/if}}
            {{/if}}
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" aria-label="page number" href="">Previous</a>
            </li>
            {{/if}}
            {{#if productList.page.current}}
            <li class="page-item disabled">
                <a class="page-link" aria-label="page number" href="">{{productList.page.current}}</a>
            </li>
            {{/if}}
            {{#if productList.page.next}}
            {{#if productList.page.manufacturer}}
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">{{productList.page.next}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">Next</a>
            </li>
            {{else}}
            {{#if productList.page.search}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}&search={{productList.page.search}}{{productList.page.query_list}}">{{productList.page.next}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}&search={{productList.page.search}}{{productList.page.query_list}}">Next</a>
            </li>
            {{else}}
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">{{productList.page.next}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">Next</a>
            </li>
            {{/if}}
            {{/if}}
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="">Next</a>
            </li>
            {{/if}}
        </ul>
    </nav>
    {{/if}}

    {{#if productList}}
    <table class="table table-bordered">
        <tr>
            <td>
                <p>Price</p>
                <table>
                    <tr>
                        <td>
                            <form id="priceForm" method="get">
                                <table>
                                    <tr>
                                        <td>
                                            <select id="price" name="price" size="2">
                                                <option value="ascending">Low to High</option>
                                                <option value="descending">High to Low</option>
                                                {{!--if statement put "select" inside--}}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="minPrice">
                                                <input type="text" placeholder="min" pattern="[0-9]+" id="minPrice"
                                                    name="min">
                                            </label>
                                            <label for="maxPrice">
                                                <input type="text" placeholder="max" pattern="[0-9]+" id="maxPrice"
                                                    name="max">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="Rating" name="Rating" value="true">
                                            <label for="Rating">Top Customer Rating</label>
                                            {{!--if statement put "checked" inside--}}
                                            <br>
                                            <input type="checkbox" id="inStoreAvailability" name="inStoreAvailability"
                                                value="true">
                                            <label for="inStoreAvailability">In Store Availability</label>
                                            <br>
                                            <input type="checkbox" id="customerReviewCount" name="customerReviewCount"
                                                value="true">
                                            <label for="customerReviewCount">Most Customer Review Count</label>
                                            <br>
                                            <input type="checkbox" id="visitedTimes" name="visitedTimes" value="true">
                                            <label for="visitedTimes">Most Visited Products</label>
                                            {{#if productList.page.search}}
                                            <input type="hidden" id="search" name="search"
                                                value={{productList.page.search}}>
                                            {{/if}}
                                            {{#if productList.page.manufacturer}}
                                            <input type="hidden" id="manufacturer" name="manufacturer"
                                                value={{productList.page.manufacturer}}>
                                            {{/if}}
                                        </td>
                                    </tr>
                                </table>
                                <button type="button" class="btn btn-dark" type="submit">Submit Filter</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                {{#if productList.results}}
                <table class="table table-bordered">
                    {{#each productList.results}}
                    <tr>
                        <td>
                            <img src={{ pictures.[0] }} alt="{{name}}" width="140" height="110">
                        </td>
                        <td>
                            <a class="dark-blue" href="/api/products/{{category}}/{{_id}}">{{name}}</a>
                            <p>Price: {{price}}</p>
                            <p>Review: {{customerReviewAverage}}</p>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
            </td>
        </tr>
    </table>
    {{/if}}

    {{#if productList.page}}
    <nav aria-label="...">
        <ul class="pagination">
            {{#if productList.page.previous}}
            {{#if productList.page.manufacturer}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">Previous</a>
            </li>
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">{{productList.page.previous}}</a>
            </li>
            {{else}}
            {{#if productList.page.search}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}&search={{productList.page.search}}{{productList.page.query_list}}">Previous</a>
            </li>
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}&search={{productList.page.search}}{{productList.page.query_list}}">{{productList.page.previous}}</a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">Previous</a>
            </li>
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.previous}}{{productList.page.query_list}}">{{productList.page.previous}}</a>
            </li>
            {{/if}}
            {{/if}}
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="">Previous</a>
            </li>
            {{/if}}
            {{#if productList.page.current}}
            <li class="page-item disabled">
                <a class="page-link" aria-label="page number" href="">{{productList.page.current}}</a>
            </li>
            {{/if}}
            {{#if productList.page.next}}
            {{#if productList.page.manufacturer}}
            <li>
                <a class="page-link"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">{{productList.page.next}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">Next</a>
            </li>
            {{else}}
            {{#if productList.page.search}}
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}&search={{productList.page.search}}{{productList.page.query_list}}">{{productList.page.next}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}&search={{productList.page.search}}{{productList.page.query_list}}">Next</a>
            </li>
            {{else}}
            <li>
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">{{productList.page.next}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="page number"
                    href="?page={{productList.page.next}}{{productList.page.query_list}}">Next</a>
            </li>
            {{/if}}
            {{/if}}
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="">Next</a>
            </li>
            {{/if}}
        </ul>
    </nav>
    {{/if}}

    <link rel="stylesheet" href="../../public/css/main.css" />
</div>