<article class="product-list">
    {{#if error}}<p>{{error}}</p>{{/if}}
    <table>
        {{#each productList}}
        <tr>
            <td>
                <img src={{ pictures.[0] }} alt="{{name}}" width="140" height="110">
            </td>
            <td>
                <a href="products/{{category}}/{{_id}}">{{name}}</a>
                <p>Price: {{price}}</p>
                <p>Review: {{customerReviewAverage}}</p>
            </td>
        </tr>
        {{/each}}
    </table>
</article>