{{!-- <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style> --}}
<article class="product-page">
    <p>id: {{product._id}}</p>
    <p>name: {{product.name}}</p>
    <p>customerReviewAverage: {{product.customerReviewAverage}}</p>
    <p>customerReviewCount: {{product.customerReviewCount}}</p>
    <p>manufacturer: {{product.manufacturer}}</p>
    <p>startDate: {{product.startDate}}</p>
    <p>price: {{product.price}}</p>
    <p>url: <a href={{product.url}}>{{product.url}}</a></p>
    <p>inStoreAvailability: {{product.inStoreAvailability}}</p>
    <p>Description: {{product.Description}}</p>
    <p>picures:</p>
    {{#each pictures}}
    <img src={{ this }} alt={{this}} width="500" height="600">
    {{/each}}
    <p>details: </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Spec</th>
        </tr>
        {{#each details}}
        <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
        </tr>
        {{/each}}
    </table>
    <p>reviews: {{product.reviews}}</p>
</article>