<div class="product-page">

  {{#if error}}<p>{{error}}</p>{{/if}}
  <p id="id_field" value="{{product._id}}">id: {{product._id}}</p>
  <p id="name_field" value="{{product.name}}">name: {{product.name}}</p>
  <p id="category_field" value="{{product.category}}">Category:
    {{product.category}}</p>

  <p>pictures:</p>
  {{#each pictures}}

    <img src={{this}} alt={{this}} width="300" height="250" />
  {{/each}}
  <p id="isWishListed">{{isWishlisted}}</p>
  <p id="remove-wishlist-p">Remove from wishlist :
    <a
      id="remove-wishlist"
      class="btn btn-danger btn-xs"
    >Remove</a></p>
  <p id="add-wishlist-p">Add to wishlist :
    <a
      id="add-wishlist"
      class="btn btn-success btn-xs"
    >Add</a></p>
  {{!-- <p>Wishlist:{{isWishlisted}}
    <input type="checkbox" id="wishlistcheckbox" value="wishlisted" {{#if isWishlisted}}checked{{/if}}/> --}}
  <p>Compare product:
    <input type="checkbox" id="comparecheckbox" value="compared" />
    {{! <button
      id="compare"
      class="btn btn-success btn-xs"
      type="button"
    >Add to Compare</button> }}
  </p>
  <button type="button" class="btn btn-danger" id="clear-storage">Clear
    LocalStorage</button>
  <p>customerReviewAverage: {{product.customerReviewAverage}}</p>
  <p>customerReviewCount: {{product.customerReviewCount}}</p>
  <p>manufacturer: {{product.manufacturer}}</p>
  <p>startDate: {{product.startDate}}</p>
  <p>price: {{product.price}}</p>
  <p>url: <a href={{product.url}}>{{product.url}}</a></p>
  <p>inStoreAvailability: {{product.inStoreAvailability}}</p>
  <p>Description: {{product.Description}}</p>
  <p>details: </p>
  <table>
    <tr>
      <th>Name</th>
      <th>Spec</th>
    </tr>
    {{#each details}}
      <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
      </tr>
    {{/each}}
  </table>
  <p>reviews: {{product.reviews}}</p>

</div>

<script src="/public/js/productpage.js"></script>