{{!-- <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style> --}}

<article class="product-page">
    {{#if error}}<p>{{error}}</p>{{/if}}
    <p>id: {{product._id}}</p>
    <p>name: {{product.name}}</p>
    <p>picures:</p>
    {{#each pictures}}
    {{!-- Need to fix alt to name --}}
    <img src={{ this }} alt={{ this }} width="300" height="250">
    {{/each}}
    <p>customerReviewAverage: {{product.customerReviewAverage}}</p>
    <p>customerReviewCount: {{product.customerReviewCount}}</p>
    <p>manufacturer: {{product.manufacturer}}</p>
    <p>startDate: {{product.startDate}}</p>
    <p>price: {{product.price}}</p>
    <p>url: <a href={{product.url}}>{{product.url}}</a></p>
    <p>inStoreAvailability: {{product.inStoreAvailability}}</p>
    <p>Description: {{product.Description}}</p>
    <p>details: </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Spec</th>
        </tr>
        {{#each details}}
        <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
        </tr>
        {{/each}}
    </table>


     <a href="/api/qna/{{product._id}}" class="btn btn-primary">Ask a Question</a>
     <a href="/api/review/{{product._id}}" class="btn btn-primary">Add a review</a>

    <form id="question-form" method="POST">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required>

        <input type="submit" value="Submit">
    </form>

    <table id="question-list">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            <!-- Here, the questions and answers will be added -->
        </tbody>
    </table>

    <form id="review-form" action="addReview" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="body">Body:</label>
        <textarea id="body" name="body" required></textarea>

        <label for="rating">Rating:</label>
        <input type="number" min="1" max="5" id="rating" name="rating" required>

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo">

        <input type="submit" value="Submit">
    </form>
    <div style="overflow-y: scroll; height: 200px;">
        {{#each product.reviews}}
        <div class="review">
            <h3>{{review-title}}</h3>
            <p>{{review-body}}</p>
            <p>
                <em>By {{review-author}} on {{review-date}}</em>
            </p>
            <img src="{{review-photo}}" alt="Review photo">
            <button onclick="likeReview({{this}})">Like</button>
            <button onclick="dislikeReview({{this}})">Dislike</button>
        </div>
        {{/each}}
    </div>
</article>
